<Body:>
  <div style="display:table-cell">
  <h2>
    {{#if _page.note.id}}
      Edit {_page.note.name}
      <a x-bind="click: deleteNote" style="float:right;margin-top:3px" class="btn btn-danger">Delete</a>
    {{else}}
      Add a new note
    {{/}}
  </h2>
  <form class="well" x-bind="submit: done" >

    <app:field label="Name" error={_page.nameError}>
      <input type="text" id="name" value={_page.note.name} autofocus={{not(_page.note.id)}}>
    </app:field>

    <button class="btn btn-primary" type="submit">
      {{#if _page.note.id}}Done{{else}}Add note{{/}}
    </button>
    {{#unless _page.note.id}}
      &sp;<button class="btn" type="button" x-bind="click: cancel">Cancel</button>
    {{/}}
  </form>
</div>

<field: nonvoid>
  <fieldset class="control-group {#if @error}error{/}">
    <label>{{@label}}</label>
    {{@content}}
  </fieldset>