<Body:>
  <section class="new-session">
		<form name="newSession" x-bind="submit: session.add">
  		<h2>
  			<strong>Build together.</strong>
  			<br />
  			You just need a prompt:
  		</h2>
	    <textarea maxlength="255" placeholder="i.e. How can we open this box?">{unescaped _page.newSession.title}</textarea>
	    <button class="full" type="submit">Start session</button>
    </form>
  </section>
  <section class="existing-session">
  		<hr />
  		<p class="weak"><strong>Looking for an existing session?</strong> Ask your friend for the link.</p>
  </section>