<import: src="./note">
<import: src="./admin">
<import: src="./session">

<!--
  Derby templates are similar to Handlebars, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.

  As in Handlebars, double curly braces output a value literally. Derby
  templates add single curly braces, which output a value and set up
  model <- -> view bindings for that object.

  Elements that end in colon define template names. Pre-defined templates
  are capitalized by convention, but template names are case-insensitive.
  Pre-defined templates are automatically included when the page is rendered.
-->

<Title:>
  Good Ideas

<Header:>
  <body class="{{dash($ns)}}">
  <ui:connectionAlert>
  <header>
    <h1 class="logo">Good Ideas</h1>
    <ul class="nav">
      <!-- Other templates are included like HTML elements -->
      <app:navLink title="new session" href="/">
    </ul>
  </header>

<Footer:>
  <footer>
    <small><p>
      <strong>Build on this</strong> lightning-quick ideation app. Hangout, share the URL and click the title to set your brainstorm prompt. Get creative. “Likes” float to the top.
      <br />
      Export your ideas to a spreadsheet when you’re done. Your username for this session, in case it matters, is {_session.userId}.
    </p></small>
  </footer>

<navLink:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>
