<Body:>
  <div class="row">
    <div class="span8">
      {#unless _page.notes}
        <h3>No people added yet.</h3>
      {/}
      <p>How about <a href="/notes/new">adding a note</a>?</p>
      <table class="table table-striped" style="{#unless _page.notes}display:none{/}">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {#each _page.notes}
            <tr>
              <td><a href="/notes/{.id}">{.name}</a></td>
            </tr>
          {/}
        </tbody>
      </table>
    </div>
  </div>