<Title:>
  {{#if _page.session.title}}
    {_page.session.title} &middot;&nbsp; 
  {{/if}}
  Good Ideas

<Body:>
  <article>
    <h1 contenteditable="true">{_page.session.title}</h1>
      <li class="note">
        <section contenteditable="true">{unescaped _page.newNote.text}</section>
        <button type="submit" x-bind="click: note.add">Add</button>
      </li>
    <hr />
    <ul class="notes">
      {#each _page.notes as :note}
        <app:note text="{{:note.text}}" id="{{:note.id}}" sessionid="{{:note.sessionId}}" userid="{{:note.userId}}" datecreated="{{:note.dateCreated}}">
      {/}
    </ul>
  </article>

<note:>
  <li class="note" id="{{@id}}" userid="{{@userid}}" sessionid="{{@sessionid}}" datecreated="{{@datecreated}}">
    <section>{{@text}}</section>
    <button x-bind="click: note.remove">Remove</button>
  </li>