<Body:>
  <article>
    <h1 contenteditable="true">{_page.session.title}</h1>

    <h3>Add note</h3>
    <label>Note</label>
    <section contenteditable="true">{unescaped _page.newNote.text}</section>
    <button type="submit" x-bind="click: note.add">Add</button>

    <ul class="notes">
      {#each _page.notes as :note}
        <app:note text="{{:note.text}}" id="{{:note.id}}" sessionid="{{:note.sessionId}}" userid="{{:note.userId}}" datecreated="{{:note.dateCreated}}">
      {/}
    </ul>

  </article>

<note:>
  <li id="{{@id}}" class="{{@title}}" userid="{{@userid}}" sessionid="{{@sessionid}}" datecreated="{{@datecreated}}">
    <h3>{{@text}}</h3>
    <button x-bind="click: note.remove">Remove</button>
  </li>