@import './normalize';
@import './grid';

// COLORS
@white: rgb(255,255,255);
@grey-lightest: rgb(250,250,246);
@grey-light: rgb(220,220,220);
@grey-medium: rgb(180,180,180);
@grey-dark: rgb(80,80,80);
@grey-darkest: rgb(20,20,20);

@yellow-lightest: rgb(255,255,240);
@yellow-light: rgb(245,245,220);
@yellow-medium: rgb(235,235,210);
@yellow-dark: rgb(215,215,200);
@yellow-darkest: rgb(180,180,150);

@link-color: yellow-dark;
@link-hover-color: yellow-darkest;


.inline-list {
  display: inline-block;
  list-style: none;
  margin: 1em 1em 1em 0;
  padding: 0;
  &:last-child {
    margin-right: 0;
  }
}

.embossed {
  text-shadow: 0 1px 0 @white;
}
label {
  font-size: .7em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: @grey-light 1px solid;
  color: @grey-medium;
  padding: .2em .4em;
  display: inline-block;
  line-height: 1em;
}
.header-below {
  margin-bottom: -.3em;
}
.header-above {
  margin-top: -.3em;
}

h1 {
  .embossed;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

section {
  margin: 1em 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: @grey-darkest;
  max-width: 1140px;
  margin: 0 auto;
  background: @grey-lightest;
}

a {
  color: @link-color;
  &:hover {
    color: @link-hover-color;
  }
}

header, article, footer {
  .column(10);
  .prefix(1);
}


header {
  ul {
    .inline-list;
  }
  .logo {
    text-indent: -1000em;
    width: 5em;
    height: 1.7em;
    display: inline-block;
    background: url("/logo.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .logo, .tagline {
    display: inline-block;
    margin: .5em 1em .5em 0;
  }
  .new-session {
    // display: inline-block;
  }
}

a.icon {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: @yellow-lightest;
  font-weight: bold;
  // vertical-align: middle;
  display: inline-block;
  font-size: 1.8em;
  &:before {
    content: '';
    width: 1em;
    height: 1em;
    position: absolute;
    top: .225em;
    left: -.2em;
    z-index: -1;
    background: @yellow-dark;
    border-radius: 50%;
  }
  &:hover {
    color: @yellow-lightest;
    &:before {
      background: @yellow-darkest;
    }
  } 
}

hr {
  border: none;
  border-top: 1px solid @grey-light;
}

button {
  border: 1px solid @yellow-medium;
  background: @yellow-light;
  color: @grey-dark;
  &:hover {
    border-color: @yellow-light;
    color: @yellow-light;
  }
}

*[contenteditable="true"] {
  border: 2px dashed transparent;
  margin-left: -2px;
  margin-right: -2px;
  &:hover {
    border-color: @grey-light;
  }
}

.add-note {
  textarea, button {
    display: block;
  }
  textarea {
    border: 2px solid @yellow-medium;
    resize: none;
    width: 100%;
    font-size: 2em;
    padding: .5em;
  }
}

ul.notes {
  list-style: none;
  padding: 0;
}

.note {
  border: 1px solid @yellow-light;
  background: @yellow-lightest;
  padding: .5em;
  section {
    margin: 0;
    display: inline-block;
    width: 85%;
    margin-right: 5%;
    box-sizing: border-box;
    size: 2em;
    margin: 1em 0;
    font-weight: bold;
    &[contenteditable="true"] {
      border: 1px solid @yellow-light;
      &:hover {
        border-color: @grey-light;
      }
    }
  }
  .like {
  }
  .remove {
    float: right;
    color: @yellow-dark;
  }
}



table {
  margin: 1em 0;
}

footer {
  border-top: 1px solid @grey-lightest;
  margin-top: 1em;
  color: @grey-medium;
  ul {
    .inline-list;
  }
}

p, ul {
  margin: 1em 0;
}